<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= simple_form_for(@type) do |f| %>
        <%= f.error_notification %>

        <%= f.input :name %>
        <%= f.input :photo, as: :attachinary %>

        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>







