<div class="navbar-wagon" style="background: url('http://res.cloudinary.com/kingofocean/image/upload/c_fill,h_70/v1487933166/navbar.png')">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <img src="http://res.cloudinary.com/kingofocean/image/upload/v1487934853/pok%C3%A9dex_o376lg.png" />
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm">

    <%= link_to t(".top_call_to_action", default: "Pokémons"), pokemons_path, class: "btn btn-primary btn-sm" %>
    <%= link_to t(".top_call_to_action", default: "Types"), types_path, class: "btn btn-primary btn-sm" %>
  </div>


    <!-- Button (call-to-action) -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to t(".top_call_to_action", default: "Ajouter un nouveau Pokémon"), new_pokemon_path, class: "btn btn-success btn-sm" %>
    <%= link_to t(".top_call_to_action", default: "Ajouter un nouveau Type"), new_type_path, class: "btn btn-primary btn-sm" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
