<div class="container">
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-xs-12 col-sm-4 card">
        <% if pokemon.photo? %>
          <div class="card" style='background-image: linear-gradient(rgba(0,0,0,0.3),
                                                       rgba(0,0,0,0.2)),
                                                        url("<%= cl_image_path pokemon.photo.path %>");'>
        <% else %>
          <div class="card">
        <% end %>
            <div class="card-category"><h3><%= pokemon.name %></h3></div>
            <div class="card-description">
              <p>Taille: <%= pokemon.height %>m | Poids: <%= pokemon.weight %>kg</p>
              <%= link_to "Afficher", pokemon_path(pokemon), class: "btn btn-primary btn-sm" %>
              <%= link_to "Editer", edit_pokemon_path(pokemon), class: "btn btn-warning btn-sm" %>
              <%= link_to "Supprimer", pokemon_path(pokemon), class: "btn btn-danger btn-sm" ,
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
